*{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
nav{
    background-color: #273c75;
    display: block;
}
#main-menu{
    display: flex;
}
nav #main-menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}
nav #main-menu li a:hover{
    background: #273c50;
    transition: all 0.3s;
}
#toggle{
    display: none;
    background: #353b48;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    #main-menu{
        flex-direction: column;
        text-align: center;
        
    }
    #toggle{
        display: block;
    }
    nav{
        display: none;
    }
}