*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    background: gold;
}
.mobile,
.tablet,
.pc{
    margin: auto;
    font-size: 100px;
    display: none;
}
/* 1em = 16px */
/* 739px =  46.1875em*/
@media only screen and (max-width: 46.1875px){
    .mobile{
        display: block;
    }
}
/* 740px = 46.25em 
    1023px = 63.9375em*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .tablet{
        display: block;
    }
}
/* 1024px = 64em */
@media only screen and (min-width: 64em){
    .pc{
        display: block;
    }
}