/* *{
    margin: 0;
    padding: 15px;
} */

.wrapper{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    padding: 25px;
    position: relative;
}
.boxed{
    width: 100px;
    height:  100px;
    background-color: aqua;

/* canh giữa khi xài có thuộc tính inline */
    position: relative;
    top: 50px;
    /* display: inline-block; 
    left: 50%; */ 
    /* transform: translateX(-50%); 50% của khối boxed */
}

.boxed2{
    width: 100px;
    height:  100px;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
}

.box21{
    /* z-index: 2; ưu tiên nổi lên trên 2 lớp(ví dụ 3 lớp thì gõ 2 thì sẽ nổi lên trên 2 lớp còn lại) */
}