#box{
    width: 500px;
    height: 250px;
    margin-left: 100px;
    transition: all 1s;
}

#box:hover{
    transform: translate(100px);
}
/* transform:
    skew nghiêng phần tử, đơn vị deg(độ)
    scale phóng to hoặc thu nhỏ, scale(x,y)(ví dụ scale(2) phóng to gấp đôi, scale(2,3) gấp đôi chiều ngang x, gấp 3 chiều dọc y)
    rotate xoay phần từ, đơn vị deg(độ) hoặc turn(số vòng xoay)
    translate dịch chuyển vị trí phần tử, translate(x,y)
    transform-origin*/