*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
header{
    background-color: #FA8258;
    padding: 10px 0 10px 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.c0l12{
    flex-basis: 100%;
    max-width: 100%;
}
.menu ul li{
    float: left;
    margin-left: 20px;
    list-style: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul.menu_child{
    position: absolute;
    width: 225px;
    background-color: #FA8258;
}
ul.menu_child li{
    padding-top: 15px;
    float: none;
    display: none;
}

.menu ul li:hover ul.menu_child li{
    display: block;
}